<style>

.web-link-display {

background: <%= rand_color %>;

}


.add-button {
    background: <%= rand_color %>;
}

.doc-button {
    background: <%= rand_color %>;
}

.link-button {
    background: <%= rand_color %>;
}


.edit-button {
    background: <%= rand_color %>;
}


.note-display {
    background: <%=rand_color%>;  
    border: 2px solid <%=rand_color %>;
}

.smaller-text-right {
    font-size: 90%;
    float: right; 
    margin-right: 20px; 
}

.note-comment {
    font-size: 150%; 
    color: #FAF9F6; 
    margin-right: 10px;
}


.add-addendum {
    margin-left: 32px;
}

</style>



<ul margin-left: 20px;>
    <% @notes.each do |note|%>
    <% @note = note %>
    <li style="background: <%=rand_color%>; border: 2px solid <%=rand_color %>;">
        <div style="padding: 20px; margin-left: 20px;">
                <span class="link-button" onclick="call('create-note-weblink-<%=note.id%>')">link</span>
                <span class="doc-button"><a href="/open_file/<%=note.id%>">doc</a></span>
                <span class="edit-button"><a href="/edit/note/<%=@note.id%>">edit</a></span>
                <span class="<%= note.has_addendums ? 'on-click' : '' %>" onclick="call('show-addendum-<%=note.id%>')">
                <span onclick="call('add-add-<%=note.id%>')" class="add-button">add</span>
                <span class="link-button"><a href="/note/view/<%=note.id%>">view</a></span>
                    <span class="addendum-display">
                        <span class="note-comment" style="margin-left: 100px;">
                            <%= note.comment[0..20] %> 
                        </span>
                    </span>
                </span> 
                 <span class="smaller-text-right">
                    <b><%= note.updated_at.strftime('%m/%d/%y')%></b>   |    <b><%=note.addendums.size%></b>   |   
                       <%= note.created_at.strftime('%m/%d/%y')%>
                 <span style="background: <%= rand_color %>; border: solid black 2px; text-align: center; padding: 1px; margin-right: 5px;">
                 <a href="/redirect_search/note/<%="nong'd" %>/<%=note.id%>"><b>弄</b></a>
                 </span>
                 </span>
        </div>
            <div id="create-note-weblink-<%=note.id%>" style="display:none; margin-left: 30px; color: white;">
                    <%= erb :"weblinks/create_note_weblink" %>
            </div>
            <div id="add-add-<%=note.id%>" style="display: none;">
                    <%= erb :"notes/notes_add_addendum_form" %> 
            </div>

        <div id="show-addendum-<%=note.id%>" style="display:<%= @open ? '' : 'none' %>;">
                <div> 
                    <% unless note.weblinks[0] == nil%>
                        <span>
                            <ul>
                            <% note.weblinks.each do |link| %>
                            <% @link = link %>
                                <li class="web-link-display"><span class="web-link-decoration"><a href="<%=link.url %>"><%=link.title%></a></span>
                                      <%= erb :"weblinks/delete_note_link" %>
                                </li>
                                <% end %>
                            </ul>    
                        </span>
                    <% end %>
                </div>


                    <% unless note.addendums[0] == nil %>
                        <ul style="padding: 10px;">
                            <% note.addendums.sort_by{|add| add.updated_at }.reverse.each do |addendum|%>
                            <% @addendum = addendum %>
                            <li style="background: <%=rand_color%>; border: 2px solid <%=rand_color%>">
                              
                            <div style="padding: 20px;">
                               
                                    <span onclick="call('options-buttons-<%=addendum.id%>')" style="font-size: 120%; background: <%= rand_color %>; margin-left: 35px; color: white; border: solid silver 2px;">
                                    <a><b>^</b>  </a>
                                    </span> 
                                  <span id="options-buttons-<%=addendum.id%>" style="display: none; margin-left: 10px; margin-top: 5px;">    
                                    <span class="link-button" onclick="call('create-addendum-weblink-<%=addendum.id%>')">link</span>
                                    <span class="edit-button"><a href="/addendum/edit/<%=addendum.id%>">edit</a></span>
                                    <span class="add-button" onclick="call('create-add-add-note-<%=addendum.id%>')">add</span>
                                   </span>   
                              
                                 <span onclick="call('display-add-notes-<%=addendum.id%>')" style="font-size: 120%; margin-left: 40px;" class="<%= addendum.notes[0] ? 'on-click' : '' %>">
                                    <b><%=addendum.addition %></b>
                                 </span>
                             
                                 <span style="font-size: 75%; float: right; margin-right: 10px;">
                                    <%=addendum.updated_at.strftime('%m/%d/%y')%> | 
                                    <%=addendum.notes.size%> |
                                    <%=addendum.updated_at.strftime('%m/%d/%y') %>
                                 </span>
                                    
                                    <div id="create-addendum-weblink-<%=addendum.id%>"  style="display: none;">
                                       <%= erb :"weblinks/create_addendum_link" %>
                                    </div>
                                    <div id="create-add-add-note-<%=addendum.id%>" style="display: none;">
                                       <%= erb :"notes/create_addendum_note" %>
                                    </div>
                                    <div>
                                            <% unless addendum.weblinks[0] == nil%>
                                                <span>
                                                    <ul>
                                                    <% addendum.weblinks.each do |link| %>
                                                    <%@link = link %>
                                                            <li class="web-link-display">
                                                                <span class="web-link-decoration"><span class="web-link-decoration"><a href="<%=link.url %>"><%=link.title%></a> | 
                                                                <%= erb :"weblinks/delete_addendum_link" %>
                                                                </span>
                                                            </li>
                                                        <% end %>
                                                    </ul>    
                                                </span>
                                            <% end %>
                                            </div> 





                                    <div id="display-add-notes-<%=addendum.id%>" style="display: <%= @add_open ? '' : 'none' %>;">

                                        <% unless addendum.notes[0] == nil %>
                                            <ul>
                                                <%addendum.notes.reverse.each do |note|%>
                                                <% @add_note = note %>
                                                    <li style="background: <%=rand_color%>; margin-top: 5px; padding: 20px; border: 2px solid <%= rand_color %>">
                                                        <span style="font-size: 75%; font-weight: bold; margin-right: 5px;">
                                                            <%= note.addendums[0] ? note.addendums[-1].updated_at.strftime('%m/%d/%y') : note.updated_at.strftime('%m/%d/%y') %> 
                                                        </span>
                                                    <%=note.comment%>
                                                        <a href="/edit/note/addendum/note/<%=note.id%>"><span class="edit-button" style="float: right; margin-right: 10px;">
                                                                edit
                                                        </span></a>
                                                    </li>
                                                <% end %>
                                            </ul>
                                        <% end %>
                                    </div>
                                    </li>
                            <% end %>
                        </ul>
                    <% end %>
                </div>  
            </li>
    <% end %>
</ul>