
<h1><%=@search_word%></h1>

<h2>Notes:</h2>

<% if @note_results %>

<ol class="list-group list-group-numbered" style="border: black solid 2px;">
        <% @note_results.sort_by{|note| note.last_touched }.reverse.each do |result| %>
            <li class="list-group-item"><a href="/redirect_search/note/<%= @search_word %>/<%=result.id%>/<%=result.project_id || 0 %>"><%=result.comment%> -- <%=result.last_touched.strftime('%m/%d/%y')%> -- <%=result.created_at.strftime('%m/%d/%y')%></a>
                <ul>
                    <li><%=result.class%> with <%= result.project_id == nil ? "add_id : #{result.addendum_id}" : "project_id: #{result.project_id}" %> and id: <%=result.id %></li>
                     <li><%= result.attributes %></li>
                </ul>
            </li>
        <% end %>
</ol>

<% else %>

    <ul class="list-group list-group" style="border: black solid 2px;">
            <li class="list-group-item">"Sorry, Charlie, no results"</li>
    </ul>



<% end %>

<h2 class="mt-2">Addendum:</h2>

<% if @addendum_results %>

<ol class="list-group list-group-numbered" style="border: black solid 2px;">
        <% @addendum_results.reverse.each do |result| %>
            <li class="list-group-item"><a href="/redirect_search/addendum/<%=@search_word %>/<%=result.note_id%>"><%=result.addition%> -- <%=result.created_at.strftime('%m/%d/%y')%></a>
                 <ul>
                    <li><%=result.class%>  <%= result.note_id %> and id: of <%= result.id %></li>
                     <li><%= result.attributes %></li>
                </ul>
            </li>
        <% end %>
</ol>

<% else %>

    
    <ul class="list-group list-group" style="border: black solid 2px;">
            <li class="list-group-item">"Sorry, Charlie, no results"</li>
    </ul>

<% end %>