

<h1>FLASHCARDS</h1>

<% if @message %>
<h2 style="text-align: center; color: maroon;"><%= @message %> </h2>
<% end %>

<div style="background-color: <%= rand_color %>; border: 3px, solid, black;">
<form method="POST" action="/flashcards/session">
 

<select class="form-select form-select-sm" aria-label=".form-select-sm example" name="number">
  <option selected>Number of cards</option>
  <option value="10">10</option>
  <option value="50">50</option>
  <option value="100">100</option>
</select>

<select class="form-select form-select-sm" aria-label=".form-select-sm example" name="difficulty">
  <option selected>Difficulty</option>
  <option value="all">All</option>
  <option value="greater">greater than 5</option>
  <option value="less">less than 5</option>
</select>

<select class="form-select form-select-sm" aria-label=".form-select-sm example" name="views">
  <option selected>Views</option>
  <option value="all">All</option>
  <option value="greater">greater than 5</option>
  <option value="less">less than 5</option>
</select>
 
 <div style="background-color: <%= rand_color %>;">
  <% @dictionaries.each_with_index do |dictionary, index| %>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox<%=index%>" value="<%=dictionary.title%>" name="dictionary">
        <label class="form-check-label" for="inlineCheckbox<%=index%>"><%= dictionary.title %></label>
      </div>
    <% end %>
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>