<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% @cards.each do |result| %>
    <% @entry = result%>
    <div class="carousel-item active">
        <div class="result-box" style="background-color: <%= rand_color %>; border: <%= rand_color %> solid 2px;"> 
           <span> 
                    <h2 class="ms-3 bottom-20">
                        <span class="term-box" style="background-color: <%=rand_color%>; border: <%=rand_color%> solid 2px; ">
                            <a href="/dictionary/<%=result.dictionary_id%>/<%=result.id%>"><%=result.term%></a>
                        </span> 
                    </h2> 
                <span class="ms-4 mt-1" style="margin-bottom: 10px;">                      
                    <a href="/dictionary/entry/edit/<%=result.dictionary_id%>/<%=result.id%>">
                        <span class="edit-button" style="background: <%= @edit_color = rand_color %>;">
                            edit
                        </span>
                    </a>          
                <span onclick="call('add-ex-<%=result.id%>')" class="add-button" style="background-color: <%=rand_color%>">
                    <b> add </b>
                </span>
                    <span class="add-button difficulty-button">
                        <a href="/dictionary/entry/update/difficulty/<%=result.dictionary_id%>/<%=result.id%>">adj</a>
                    </span>
                    <span class="add-button tag-button">
                        <a href="/search/tag/dictionary/<%=result.dictionary_id%>/<%=result.topic_tag%>">[<%=result.topic_tag%>]</a>
                    </span>
                    <span style="float: right; margin-right: 20px; font-weight: bolder; font-size: 125%">  
                        <%= "#{@entry.difficulty} | #{@entry.views}"%>
                    </span>
             </span>
                    <div id="add-ex-<%=result.id%>" style="display: none;">
                        <%= erb :"dictionaries/create_example"%>
                    </div>  
                <div class="left-50" >
                    <ul style="color: white;">
                            <li class="entry-info">
                                <%=result.entry_info%>
                            </li>
                            <% unless result.more_info.empty? %>
                                <li class="entry-info">
                                    <%=result.more_info%>
                                </li>
                            <% end %>
                        <% if result.examples[0] %>
                            <% result.examples.each_with_index do |example, index| %>
                            <% @example = example %>
                                    <li class="entry-info">
                                        <%=example.info%>
                                    <span onclick="call('edit-example-<%=result.term%>-<%=index%>')" class="edit-button" style="background: <%= @edit_color %>;">
                                        edit
                                    </span>
                                        <div id="edit-example-<%=result.term%>-<%=index%>" style="display: none;">
                                            <%= erb :"dictionaries/edit_example_form"%>
                                        </div>  
                                    </li>
                            <% end %>
                        <% end %>
                    </ul>
                </div> 
        </div>
    <% end %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>




<div class="top-15">
    
    
</div>