


   <div class="profile">

    <h1> <%= @person.name %> </h1>

    <img src="/<%=@person.photo%>" alt="Where's the photo?" width="150" height= "7">
    <div class="profile-nav">

   <ul>
            <li>
                <form action="/people/<%=params[:id]%>/edit" method="post">
                    <input id="hidden" type="hidden" name="_method" value="patch">
                    <p>Your Name: <input type="text" name="name" value="<%=@person.name%>"></p>
                    <p>Your street address: <input type="text" name="street_address" value="<%=@person.street_address%>"></p>
                    <p>Your city: <input type="text" name="city" value="<%=@person.city%>"></p>
                    <p>Your state: <input type="text" name="state" value="<%=@person.state%>"></p>
                    <p>Your zipcode: <input type="text" name="zipcode" value="<%=@person.zipcode%>"></p>
                    <input type="submit">
                </form>

                <form action="/people/<%=params[:id] %>" method="post">
                        <input id="hidden" type="hidden" name="_method" value="delete">
                        <input type="submit" value="delete" onclick="clicked(event)">
                </form> 
            </li>
    </ul>
   
     <form action="/people/<%=params[:id]%>/photo" method="post">
        <input type="hidden" name="_method" value="patch">
        <p>photo: <input type="file" alt="where's the photo?" name="photo">
        <input type="submit"></p>
    </form>


    </div>
 </div>
