    <style>
    .square-button {
    border: 5px solid <%=@color_array[rand(63)]%>; 
    float: left; 
    margin-left: 100px; 
    text-align: center;  
    width: 50px; 
    height: 50px; 
    background-color: <%=@color_array[rand(63)]%>;
}
    </style>        
    
    
    <a href="/annuals">
    <div class="square-button">
        <span class="special-letter">A</span>
    </div>
     </a>
<div style="width: 1200px;">    
<div>
   <h1 class="log-title" style="background-color: <%=@color_array[rand(63)]%>"><a href="/project_log">Project Log</a></h2>
    <h1 class="log-title" style="background-color: <%=@color_array[rand(63)]%>"><a href="/activity_log">Activitiy log</a></h2>
</div>
 


    <div>
            <%add_sorted_projects = @projects.sort_by{|project| project.notes.sort_by{|note| note.last_touched}[-1].last_touched}%> 
            <%add_sorted_projects.reverse.each do |project|%>
        <a href="/people/<%=project.account_id%>/project/<%=project.id%>">
            <div class="project-boxes" style="background-color: <%=@color_array[rand(63)]%>;">
                    <h5 class="project-title"><%=project.title%></h5>
                    <span class="date-display"><b><%=project.last_touched.strftime('%m/%d/%y')%></b></span>
            </div>
        </a>
            <% end %>
    </div>
             
     
              
    
</div>


  
