
<div class="reading-list" style="width: 800px;">    

        <div style="background-color: darkkhaki; padding: 20px; border: 2px solid black;">
        <%@activities.each do |activity|%>
        <b><%=activity.created_at.strftime('%m/%d')%></b> <span style="font-size: 75%"><%=activity.created_at.strftime('%H:%M')%> </span> <%=activity.title%>  :  <%=activity.description%>
        <% end %>
        </div>
        <div>
        <%@projects.each do |project|%>
            <div style="float: left; margin-top: 10px; background-color: white; padding: 15px; margin-right: 8px; border: 2px solid black;">
            <b><%=project.created_at.strftime('%m/%d')%></b> <span style="font-size: 75%"><%=project.created_at.strftime('%H:%M')%></span><h2><a href="/people/<%=project.account_id%>/project/<%=project.id%>"><%=project.title%></h2></a> :  <%=project.description%>
            </div>
        <% end %>
             </div>
             <br>
    <div style="float:right; margin-top: 20px; background-color: yellow; padding: 20px; border: 2px solid black;">
          <%@notes.each do |note|%>
        <b><%=note.created_at.strftime('%m/%d')%> </b><span style="font-size: 75%"><%=note.created_at.strftime('%H:%M')%> </span>  :  <%=note.comment%>
        <% end %>
    </div>
</div>


<p><a href="/people">people</a></p>
