                              
    
<div>

<h1 style="background-color: black; color: white; border: 3px solid white; width: 250px; margin: auto; ">Decks</h1>
        <h2 class="on-click" style="margin:auto; width:100px; text-align: center;" onclick="call('createDictionary')">create</h2>
    <div id="createDictionary" style="display:none; margin:auto; width:15%;" >
        <form method= "POST" action="/dictionary/create" style="margin-top: 5px;">
            <input type="text" name= "title">
            <input type="submit" value= "submit" style="float:right;">
        </form>
    </div>
</div>
<div style="text-align: center;">
    <ul>
        <% @dictionaries = @dictionaries.sort_by{|dictionary| dictionary.entries[0] ? dictionary.entries[-1].created_at : dictionary.created_at}.reverse.each do |dictionary| %>
            <li style="margin-bottom: 25px; border: 2px solid white; padding-top: 20px; display: inline-block; line-height: 2; vertical-align: middle; height: 35px; width: 350px; text-align: center; margin-left: 80px; float: left; padding: 5px; background-color: <%=@color_array[rand(63)]%>"><a href="/dictionary/<%=dictionary.id%>"> <b style="font-size: 120%; color: ivory;"><%=dictionary.title%></b></a> <br>
                <span class= "on-click" onclick="call('add-<%=dictionary.title%>-entry')"> add</span><span style="color:gold;"> | </span>
                <span><a href="/dictionary/edit/<%=dictionary.id%>">edit</a></span><span style="color:gold;"> | </span>
                 <span><a href="/topic/<%=dictionary.id%>">cards</a></span> 
            </li>
            <div id='add-<%=dictionary.title%>-entry' style="display:none">
                    <form action="/dictionary/<%=dictionary.id%>/entry/create" method= "POST" style="margin-top: 5px;">
                        <input type="text" name="term" placeholder="term">
                        <input type="text" name="entry_info" placeholder="entry info">
                        <input type="text" name="more_info" placeholder="more_info">
                        <input type="text" name="topic_tag" placeholder="topic tag">
                        <input type="file" name="photo" placeholder="photo">
                        <input type="submit" value= "submit">
                    </form>
            </div>
        <% end %>
    </ul>
</div>




