
<div style="width:75%; margin: auto; border: 2px solid black; background-color: <%=@color_array[rand(63)]%>;">
        <a href="/dictionary/<%=@dictionary.id%>">
            <h1 style="font-size: 300%"><b><%=@dictionary.title%></b></h1>
        </a>

          <p><%=@message%></p>

        <ul style="text-align: center; color: silver">
            <li style="display: inline;"><span class="on-click" onclick="call('addEntry')">add</span> |</li>
            <li style="display: inline;"><a style="color:silver;" href="/dictionary/edit/<%=@dictionary.id%>">edit</a> |</li>
            <li style="display: inline;"><span class="on-click" onclick="call('search-box')">search</span></li>
        </ul> 

        <hr style="color: silver; height: 2px; width: 75%; font-weight: bold;">

        <div id='addEntry' style="display:none">
            <form action="/dictionary/<%=@dictionary.id%>/entry/create" method= "POST" style="margin-top: 5px;">
                <input type="text" name="term" placeholder="term">
                <input type="text" name="entry_info" placeholder="entry info">
                <input type="text" name="more_info" placeholder="more info">
                <input type="text" name="topic_tag" placeholder="topic tag">
               <input type="file" name="photo" placeholder="photo">
                <input type="submit" value= "submit">
                <hr style="color: silver; height: 2px; width: 75%; font-weight: bold;">
           </form>
    </div>
        <div id="search-box" style="display:none;">
            <form action="/dictionary/search/<%=@dictionary.id%>" method="get" style="width:50%; margin:auto;">
                <input type="text" name="search">
                <input type="submit" value="submit">
                <hr style="color: silver; height: 2px; width: 75%; font-weight: bold;">
            </form>
        </div>
        <% @tags = @dictionary.entries.map{|entry| entry.topic_tag}%>
            <% if @tags %>
                <% @sorted_array = @tags.uniq.sort%>
                    <ul style="margin-left: 50px; margin-right: 50px;">
                        <% @sorted_array.each_with_index do |tag, index|%>
                            <li style="display: inline;"><span class="on-click" style="color: ivory" onclick="call('<%=tag%>-entries')"><%=tag%></span>
                            <% unless index == @sorted_array.length - 1 %>
                            |
                            <% end %>
                        </li>
                        <% end %>
                    </ul>
            <% end %>    
    </div>









   

    <% if @tags%>
<div style="margin-left: 100px; margin-top: 50px; color: black;">
        <% @tags.uniq.each do |topic| %>
            <% @collection = @dictionary.entries.select{|entry| entry.topic_tag == topic} %>
                <% if @collection %>
                    <div id="<%=topic%>-entries" style="display: none;">
                    
                        <% @collection.each do |entry| %>
                                <div style="background-color: #C86464; padding: 10px; margin-bottom: 5px;"> 
                                    <h2 style="font-weight: bold; margin-left: 50px;"><span style="background-color: <%=@color_array[rand(63)]%>; padding: 10px; text-align: center; "><%=entry.term%> </span> <span style="color: silver; background-color: black;  font-size: 75%;">[<%=entry.topic_tag%>]</span> 
                                    
                              <form action="/dictionary/<%=@dictionary.id%>/delete/<%=entry.id%>" method="post" style="margin: auto; color: red; width: 10px; height: 5px; border-radius: 5;">
                                            <input id="hidden" type="hidden" name="_method" value="delete">
                                            <input type="submit" value="delete" onclick="clicked(event)">
                                    </form> 
                                
                                    
                                    </h2>  
                                           
                                            <span class="on-click" onclick="call('add-<%=entry.term%>-example');" style="color: silver; background-color: black; border: 2px solid silver; padding: 2px;  font-size: 75%; margin-left: 50px;margin-right: 10px;"><b>+ add info +</b></span>
                                                <div id="add-<%=entry.term%>-example" style="display: none;">
                                                    <form action="/example/<%=entry.id%>/create" method="POST">
                                                        <input type="hidden" id="hidden">
                                                        <input type="text" name="info">
                                                        <input type="submit" value="info">
                                                    </form>
                                                </div>  
                                <div style="margin-left: 50px;">


                                <style>
                                
                                    .entry-info {

                                        background-color: <%=@color_array[rand(63)]%>;
                                        padding: 20px;
                                        padding-left: 30px;
                                        margin-bottom: 3px;
                                        border: 2px solid silver;
                                        margin-left: 20px;
                                        margin-right: 50px;
                                    }
                                
                                </style>
                                   <ul>
                                    
                                        
                                       
                                            <li class="entry-info"><%=entry.entry_info%></li>
                                            <% unless entry.more_info.empty? %>
                                            <li class="entry-info"><%=entry.more_info%></li>
                                            <% end %>
                                     
                                     
                                        <% entry.examples.each do |example| %>
                                            <li class="entry-info"><%=example.info%></li>
                                        <% end %>
                              
                                         
                                
                                
                                   
                                   </ul>

                                  </div> 






                                </div>
                            <% end %>
            
                    </div>
                <% end %>
        <% end %>
    <% end %>

  </div> 

   <% if @result%>
   <% @result.each do |result|%>
    <div style="margin-left: 20px;">
            <a href="/dictionary/<%=@dictionary.id%>/tag/<%=result.topic_tag%>"><h2 style="font-weight: bold"><%=result.term%> </a>  
            <span style="color: silver; background-color: black;  font-size: 75%">[<%=result.topic_tag%>]</span>
            <span class="on-click" onclick="call('add_example');" style="color: silver; background-color: black;  font-size: 75%">info+ </span>
                <div id="add_example" style="display: none;">
                    <form action="/example/<%=result.id%>/create" method="POST">
                        <input type="hidden" id="hidden">
                        <input type="text" name="info">
                        <input type="submit" value="info">
                    </form>
                </div>     
        <dl style="padding: 5px; background-color: <%=@color_array[rand(63)]%>; border: 2px solid black;"> 
            <dd style="padding: 5px;">- <%=result.entry_info%></dd>
            <% unless result.more_info.empty? %>
            <dd style="padding: 5px;">- <%=result.more_info%></dd>
            <% end %>
        <dl>
        <% if result.examples[0] %>
                <ul style="margin-left: 20px; font-size: 75%; list-style-type: disc;">
                    <%result.examples.each do |example|%>
                <li><%=example.info%>
                    <form action="/example/<%=result.id%>/<%=example.id%>/delete" method="post" style="display:inline;">
                        <input id="hidden" type="hidden" name="_method" value="delete">
                        <input type="submit" value="del" style="width: 25px; height: 15px; font-size: 50%;">
                    </form> 
                </li>
                    <% end %>
                </ul>
        <% end %>
    </div>

        <% if result.photo[0] %>
                <div style="float:left;">
                    <img src="/<%= result.photo[0] %>" alt=" " width="300" height= "200" style="border: 2px solid black; border-radius:15px; margin-left: 145px; margin-bottom: 10px;">
                </div>
            <% end %>
<% end %>
<% end %>
