<%#  %>
<div style="width:50%; margin: auto; border: 2px solid black; background-color: maroon;">
          <a href="/dictionary/<%=@dictionary.id%>">
            <h1><b><%=@dictionary.title%></b></h1>
        </a>

        <ul style="margin-left: 160px;">
            <li style="display: inline;"><span class="on-click" onclick="call('addEntry')">add |</span>
                    <form action="/dictionary/<%=@dictionary.id%>/delete" method="post">
                                <input id="hidden" type="hidden" name="_method" value="delete">
                                <input type="submit" value="delete" onclick="clicked(event)">
                        </form> 
            
            </li>
        </ul> 

        <hr style="color: silver; height: 2px; width: 75%; font-weight: bold;">

    <% @tags = @dictionary.entries.map{|entry| entry.topic_tag}%>
<% if @tags %>
    <ul style="margin-left: 50px; margin-right: 50px;">
        <% @tags.uniq.each_with_index do |tag, index|%>
            <li style="display: inline;"><span style="color: darkgray" onclick="call('<%=tag%>-entries')"><%=tag%></span>
            <% unless index == @tags.length - 1 %>
            |
            <% end %>
        </li>
        <% end %>
    </ul>
   <% end %>
    
</div>
    <div id='addEntry' style="display:none">
           <form action="/dictionary/<%=@dictionary.id%>/entry/create" method= "POST" style="margin-top: 5px;">
              <input type="text" name= "term" placeholder="term">
               <input type="text" name= "entry_info" placeholder="entry info">
               <input type="text" name= "more_info" placeholder="more info">
               <input type="text" name= "topic_tag" placeholder="topic tag">
               <input type="file" name= "photo" placeholder="photo">
                <input type="submit" value= "submit">
           </form>
    </div>

<div id="search-box" style="display:none;">
    <form action="/dictionary/<%=@dictionary.id%>/search" method="get" style="width:50%; margin:auto;">
        <input type="text" name="search">
        <input type="submit" value="submit">
    </form>
</div>

   
   

    <% if @tags%>

        <% @tags.uniq.each do |topic| %>
            <% @collection = @dictionary.entries.select{|entry| entry.topic_tag == topic} %>
                <% if @collection %>
                <% @collection.sort_by!{|entry| entry.created_at}%>
                    <div id="<%=topic%>-entries" style="display: none;">
                        <ul>
                        <% @collection.each do |entry| %>
                                <li> <%=entry.term %>  | <%=entry.created_at %>
                                    <form action="/dictionary/<%=@dictionary.id%>/delete/<%=entry.id%>" method="post" style="float:left">
                                            <input id="hidden" type="hidden" name="_method" value="delete">
                                            <input type="submit" value="delete" onclick="clicked(event)">
                                    </form> 
                                </li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>
        <% end %>
    <% end %>


