
<div>
<h1><a href="/topics"><label for="topics">TOPICS</label></a></h1>
        <h2 style="margin:auto; width:50%; text-align: center;" onclick="call('createTopic')">create</h2>
    <div id="createTopic" style="display:none; margin:auto; width:15%;" >
        <form method= "POST" action="/topic/create" style="margin-top: 5px;">
            <input type="text" name= "title">
            <input type="submit" value= "submit" style="float:right;">
        </form>
    </div>
</div>
<div>
    <ul>
        <% @topics.each do |topic| %>
            <li style="margin-bottom: 20px; border: 2px solid black; width: 225px; text-align: center; padding: 5px"><a href="/topic/<%=topic.id%>"> <b style="font-size: 110%"><%=topic.title%></b></a>  (<%=topic.flashcards.length%>) 
                <span onclick="call('addCard')">add</span> | <span><a href="/topic/edit/<%=topic.id%>">edit</a></span>
            <div id='addCard' style="display:none">
                <label for="flashcards"></label>
                    <form action="/topic/<%=topic.id%>/flashcard/create" method= "POST" style="margin-top: 5px;">
                        <input type="text" name= "front" placeholder="front">
                        <input type="text" name= "back" placeholder="back">
                        <input type="hidden" name= "views" value= "0">
                        <input type="hidden" name= "difficulty" value= "10">
                        <input type="submit" value= "submit">
                    </form>
            </div>
            </li>
        <% end %>     
        </ul>
</div>
