<p>

    <ul>
         <li>Name: <%=params[:person].name%></li>
         <li>Street: <%=params[:person].street_address%></li>
         <li>City: <%=params[:person].city%></li>
         <li>State: <%=params[:person].state%></li>
         <li>Zipcode: <%=params[:person].zip_code%> </li>
         
    </ul>

<ul>    
    <li><%=params[:directory]%></li>
</ul>

</p>


