


<div>
    <% @projects.sort_by{|project| project.notes[-1].created_at}.reverse.each do |project|%>
        <h4 style="width: 300px;"><a href="/people/<%=project.account_id%>/project/<%=project.id%>"><%=project.title%></a> <%=project.notes[-1].created_at.strftime('%m/%d')%>
         <form action="/people/<%=@person.id%>/project/delete/<%=project.id%>" method="post" style="display:inline">
                            <input id="hidden" type="hidden" name="_method" value="delete">
                            <input type="submit" value="delete" style="text-align: right; margin-left: 20px;;">
        </form>
        </h4> 
    <% end %>
</div>


<p><a href="/people/<%=@person.id%>">back</a></p>
<p><a href="/people">people</a></p>
<p><a href="/activities" title="">activities & projects</a></p>