
             
     <% @color_array=[" #624d60", " #624d60", " #878db5", " #b335a6", " #25a5da", " #919dc5", " #919dc5", " #384f14", " #39ced9", " #fd0fbb", " #b4d36b", " #0b84cc", " #072f47", " #9f600c", " #6246a7", " #6246a7", " #7a8d21", " #688fae", " #44dd7d", " #9c33f6", " #89038b", " #c85ce1", " #2b6e90", " #136888", " #660b0c", " #52ebeb", " #29d441", " #98bed7", " #246c06", " #0e8996", " #e37d26", " #2d1521", " #587900", " #44d76b", " #3095b2", " #b58e54", " #4c144a", " #c5ac66", " #62c734", "#62c734", " #3ea511", " #0361b8", " #484346", " #0121e5", " #660b0c", " #660b0c", " #64ae22", " #c4b645", " #56310c", " #6246a7", " #b60762", " #56cd8e", " #482c95", " #6e352c", " #5c4d98", " #5c4d98", " #b8d191", " #9ab838", " #6c7dea", " #5e109b", " #aebd16", " #c941c9", " #872b3b", " #2392c5"]
%>
<div style="color:#FFFFCC;">

<h1><%=@project.title%></h1>

<% if @project.photos[0] %>
    
<div style="float:left;" onclick="call('options')">
    <img src="/<%= @project.photos[rand(@project.photos.length)].photo %>" alt="Where is the photo?" width="300" height= "200" style="border: 2px solid black; border-radius:15px; margin-left: 145px; margin-bottom: 10px;">
</div>

<%  else %>

<div style="float:left;" onclick="call('options')">
<h2 class="on-click" style="background: maroon; width: 250px; margin: 0; text-align: center;">options</h2>
</div>

<% end %>



<div id="options" style="display: none;">
        <h3 style="float: center; text-align: center; border: 2px solid black;"><a href="/people/<%=@project.account_id%>/projects">all projects</a></h3>

        <h3 class="on-click" style=" float: center; text-align: center; border: 2px solid black;" onclick="call('note');">NOTE</h3>

            <div id="note" style="display: none;">

                <form action="/people/<%=@project.account_id%>/project/<%=@project.id%>/note/create" method="POST">
                    <input type="hidden" id="hidden">
                    <input type="text" name="comment">
                    <input type="submit" value="note">
                </form>
            </div>
            
            <h3 class="on-click" style="float: center; text-align: center; border: 2px solid black;" onclick="call('add-photo');"> add photo </h3>
                <div id="add-photo" style="display:none">
                    <form action="/people/<%=@project.account_id%>/project/<%=@project.id%>/photo" method="POST">
                        <input type="hidden" id="hidden">
                        <label for="title">title</label>
                        <input type="text" name="title">
                        <label for="description">description</label>
                        <input type="text" name="description">
                        <label for="photo">photo</label>
                        <input type="file" name="photo">
                        <input type="submit" value="photo">
                    </form>
                </div>
        <h3 class="on-click" style="float: center; text-align: center; border: 2px solid black;" onclick="call('books')">Books</a></h3>
                <div id="books" style="display:none">
                    <div style="background-color: white;" onclick="call('new-book')">new book</div>
                        <% unless @project.books == nil%>
                            <ul>
                            <% @project.books.each do |book|%>
                                <li><a href="/project/<%=@project.id%>/book/<%=book.id%>"><%=book.title%></a></li>
                                <% end %>
                            </ul>
                        <% end %>
                    <div id="new-book" style="display:none;">
                        <form action="/project/<%=@project.id%>/book/create" method="POST">
                            <input type="hidden" id="hidden">
                            <label for="title">title</label>
                            <input type="text" name="title">
                            <label for="url">author</label>
                            <input type="text" name="author">
                            <label for="synopsis">synopsis</label>
                            <input type="textarea" name="synopsis">
                            <label for="pages">pages</label>
                            <input type="integer" name="pages">
                            <input type="submit" value="link">
                        </form>
                    </div>
                </div>
        <h3 style="float: center; text-align: center; border: 2px solid black">  <a href="/photoroom/<%=@project.id%>">Photoroom</a></h3>

        <h3 class="on-click" style="float: center; text-align: center; border: 2px solid black" onclick="call('create-weblink')"> Weblink 3000 </h3>
                <div id="create-weblink" style="display:none">
                    <form action="/project/<%=@project.id%>/main/<%=@project.id%>/weblink/create" method="POST">
                        <input type="hidden" id="hidden">
                        <label for="title">title</label>
                        <input type="text" name="title">
                        <label for="url">url</label>
                        <input type="text" name="url">
                        <label for="description">description</label>
                        <input type="text" name="description">
                        <input type="submit" value="link">
                    </form>
                </div>
</div>

<% if @project.photos[0] %>
    <div style="float:left;" onclick="call('options')">
        <img src="/<%= @project.photos[rand(@project.photos.length-1)].photo %>" alt="Where is the photo?" width="300" height= "200" style="border: 2px solid black; border-radius:15px; margin-left: 145px; margin-bottom: 10px;">
    </div>
<% end %>

<br>
<div style="margin-bottom: 200px;"></div>

<% unless @project.weblinks[0] == nil %>

<div style="margin-top: 50px;">

    <span onclick="call('weblinks')" style="border: 3px solid <%=@color_array[rand(63)]%>; padding: 3px; margin-left: 20px; background: <%=@color_array[rand(63)]%>"><b>Weblink</b></span>

    <ul id="weblinks" style="display: none; margin-left: 20px;">
        <% @project.weblinks.each do |link| %>
            <li><a href="<%=link.url %>"><%=link.title%></a> | 
            <form action="/people/<%=@project.id%>/weblinks/delete/<%=link.id%>" method="post" style="display:inline">
                <input id="hidden" type="hidden" name="_method" value="delete">
                <input type="submit" value="delete" style="width: 25px; height: 15px; font-size: 30%; text-align: center; padding: 0px;" onclick="clicked(event)">
            </form>
        </li>
 <% end %>
    </ul>
<div>
<% end %>

<ul margin-left: 20px;>
    <% @project.notes.sort_by{|note| note.date.updated_at}.reverse.each do |note|%>
    <li style="background: <%=@color_array[rand(63)]%>; margin-top: 5px; padding: 20px; border: 2px solid <%=@color_array[rand(63)] %>"><b><%= note.date.created_at.strftime('%m/%d/%y') %></b>  
            <span class="<%= note.addendums[0] ? 'on-click' : '' %>" onclick="call('show-addendum-<%=note.id%>')" style="font-size: 120%; font-weight: bold; font-family: Courier;"><%= note.comment %> | <span style="font-size: 75%"><%= note.created_at.strftime('%m/%d/%y')%></span></span> 
        <div id="show-addendum-<%=note.id%>" style="display:none;">
              <span onclick="call('add-add-<%=note.id%>')" style=" color: black; background: <%= @color_array[rand(63)]%>; border: 1px solid black; border-radius: 5px; width: 75px; height: 30px; text-align: center; margin-left: 5px; font-size: 75%; "><b> add </b></span>
             <span class="on-click" style=" color: black; background: <%= @color_array[rand(63)]%>; border: 1px solid black; border-radius: 5px; width: 50px; height: 75px; text-align: center; margin-left: 5px; font-size: 75%; padding 10px; " onclick="call('create-note-weblink-<%=note.id%>')"> link </span>
       
        <form action="/people/<%=@project.account_id%>/project/<%=@project.id%>/delete/<%=note.id%>" method="post" style="display:inline">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <input type="submit" value="del" style="width: 75px; height: 25px; font-size: 75%; color: black; background: <%= @color_array[rand(63)]%>" onclick="clicked(event)">
        </form> 
       
                <div id="create-note-weblink-<%=note.id%>" style="display:none">
                    <form action="/project/<%=@project.id%>/note/<%=note.id%>/weblink/create" method="POST">
                        <input type="hidden" id="hidden">
                        <label for="title">title</label>
                        <input type="text" name="title">
                        <label for="url">url</label>
                        <input type="text" name="url">
                        <label for="description">description</label>
                        <input type="text" name="description">
                        <input type="submit" value="link">
                    </form>
                </div>

                <div id="add-add-<%=note.id%>" style="display: none;">
                    <form action="/project/<%=@project.id%>/note/<%=note.id%>/addendum/create" method="post">
                            <input id="hidden" type="hidden" name="_method" value="post">
                            <textarea rows="3" cols="50" name="addition"></textarea>
                            <input type="submit" value="submit">
                    </form>
                </div>
        <div>
              <% unless note.weblinks[0] == nil%>
                                <span>
                                    <ul>
                                      <% note.weblinks.each do |link| %>
                                        <li style="margin: 0px; float: left; margin-left: 5px;"><span style="background-color: <%=@color_array[rand(63)]%>; border: 2px solid black;"><a href="<%=link.url %>"><%=link.title%></a></span>
                                                <form action="/people/<%=@project.id%>/weblinks/delete/<%=link.id%>" method="post" style="display:inline">
                                                    <input id="hidden" type="hidden" name="_method" value="delete">
                                                    <input type="submit" value="delete" style="margin: 0px; width: 25px; height: 15px; font-size: 30%; text-align: center; padding: 0px;" onclick="clicked(event)">
                                                </form>
                                            </li>
                                        <% end %>
                                    </ul>    
                                </span>
                                
                              <% end %>
        </div>
                
                    <% unless note.addendums[0] == nil %>
                        <ul style="padding: 10px;">
                    <% note.addendums.sort_by{|add| add.date.updated_at}.reverse.each do |addendum|%>
                            <li style="background: <%=@color_array[rand(63)]%>; border: 2px solid <%=@color_array[rand(63)]%>; margin-top: 5px; margin-left: 20px; padding: 20px;">
                              <% unless addendum.weblinks[0] == nil%>
                                <span>
                                    <ul>
                                      <% addendum.weblinks.each do |link| %>
                                        <li style="margin: 0px; float: left; margin-left: 5px; background-color: <%=@color_array[rand(63)]%>; border: 2px solid black;"><a href="<%=link.url %>"><%=link.title%></a> | 
                                                <form action="/people/<%=@project.id%>/weblinks/delete/<%=link.id%>" method="post" style="display:inline">
                                                    <input id="hidden" type="hidden" name="_method" value="delete">
                                                    <input type="submit" value="delete" style="width: 25px; height: 15px; font-size: 30%; text-align: center; padding: 0px;" onclick="clicked(event)">
                                                </form>
                                            </li>
                                        <% end %>
                                    </ul>    
                                </span>
                                
                              <% end %>
                            
                              <span><span onclick="call('options-buttons-<%=addendum.id%>')"><%=addendum.date.created_at.strftime('%m/%d/%y')%> <b style="font-size: 110%;">=></b>  </span></span><span onclick="call('display-add-notes-<%=addendum.id%>')" class="<%= addendum.notes[0] ? 'on-click' : '' %>"><%=addendum.addition %></span> | <span style="font-size: 75%"><%=addendum.created_at.strftime('%m/%d/%y') %></span>
                              <span id="options-buttons-<%=addendum.id%>" style="display: none; margins: 0px; float: left;">
                                     <div id="create-addendum-weblink-<%=addendum.id%>" style="display:none">
                                        <form action="/project/<%=@project.id%>/addendum/<%=addendum.id%>/weblink/create" method="POST">
                                            <input type="hidden" id="hidden">
                                            <label for="title">title</label>
                                            <input type="text" name="title">
                                            <label for="url">url</label>
                                            <input type="text" name="url">
                                            <label for="description">description</label>
                                            <input type="text" name="description">
                                            <input type="submit" value="link">
                                        </form>
                                    </div>
                                    <div id="create-add-add-note-<%=addendum.id%>" style="display: none;">
                                        <form action="/project/<%=@project.id%>/addendum/<%=addendum.id%>/note/create" method="POST">
                                            <input id="hidden" type="hidden" name="_method" value="post">
                                            <textarea rows="3" cols="50" name="comment"></textarea>
                                            <input type="submit" value="submit">
                                        </form>
                                    </div>
                                <span style="color: black; background: <%= @color_array[rand(63)]%>; border: 1px solid black; border-radius: 5px; width: 75px; height: 30px; text-align: center; margin-left: 5px; padding: 10px;" onclick="call('create-add-add-note-<%=addendum.id%>')">add</span>
                                <span class="on-click" style="font-size: 110%; color: black; background: <%= @color_array[rand(63)]%>; border: 1px solid black; border-radius: 5px; width: 75px; height: 30px; text-align: center; margin-left: 5px; padding: 10px;" onclick="call('create-addendum-weblink-<%=addendum.id%>')"> link </span>
                                    <form action="/project/<%=@project.id%>/note/<%=note.id%>/addendum/<%=addendum.id%>/delete" method="post">
                                        <input id="hidden" type="hidden" name="_method" value="delete">
                                        <input type="submit" value="del" onclick="clicked(event)">
                                    </form> 

                            </li>
                                    <div id="display-add-notes-<%=addendum.id%>" style="display:none;">

                                        <% unless addendum.notes[0] == nil %>
                                            <ul>
                                                <%addendum.notes.reverse.each do |note|%>
                                                    <li style="background: <%=@color_array[rand(63)]%>; margin-top: 5px; padding: 20px; border: 2px solid <%=@color_array[rand(63)] %>"><%= note.addendums[0] ? note.addendums[-1].updated_at.strftime('%m/%d/%y') : note.updated_at.strftime('%m/%d/%y') %> => <%=note.comment%>
                                                    <span>
                                                        <form action="/project/<%=@project.id%>/addendum/<%=addendum.id%>/note/<%=note.id%>/delete" method="post">
                                                            <input id="hidden" type="hidden" name="_method" value="delete">
                                                            <input type="submit" value="del" onclick="clicked(event)">
                                                        </form> 
                                                    </span>
                                                    
                                                    
                                                    </li>
                                                <% end %>
                                            </ul>
                                        <% end %>
                                    
                                    </div>
                            <% end %>
                        </ul>
                    <% end %>
                </div>
                        

       
    </li>
    <% end %>
</ul>


<style>

.bottom-nav {
    font-weight: bold;
    border: 1px solid black;
    background-color: salmon;
    width: 70px;;
    text-align; center;
    float: center;
    margin: auto;
    margin-bottom: 5px;
   


};


</style>

<div style="margin-top: 50px;">
    <p class="bottom-nav"><a href="/people/<%=@project.account_id%>">back</a></p>
    <p class="bottom-nav"><a href="/people">people</a></p>
    <p class="bottom-nav"><a href="/activities" title="">action</a></p>
</div>



</div>