<h1><%=@project.title%></h1>
<h2><%=@project.description%></h2>
<h1></h1>

<form action="/people/<%=@project.account_id%>/project/<%=@project.id%>/note/create" method="POST">
    <input type="hidden" id="hidden">
    <input type="text" name="comment">
    <input type="submit" value="note">
</form>


<ul>
    <% @project.notes.each do |note|%>
 <li><%= note.created_at.strftime('%H:%M')%> : <%= note.comment %></li>
    <% end %>
</ul>

<p><a href="/people/<%=@project.account_id%>">back</a></p>
<p><a href="/people">people</a></p>



