<h1><%=@topic.title%></h1>
<h5><a href="/flashcards">FLASHBASE</a></h5>
<form method="post" action="/topic/delete/<%=params[:id]%>">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
</form>






<style>

#flashcard-box {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    width: 300px;
    height: 300px;
    display: block;
    font-size: 50px;
    font-weight: bolder;
    line-height: 150px;
     background-color: red;
 
}


#flashcard{
   
    height: 100%;
    width: 100%;
    text-align: center;
    text-align: center;
}

</style>



<div id="flashcard-box">
    <div id="flashcard">
        <span id="cardIndex" style="display: none;">0</span>

            <% flashcards = @topic.flashcards%>
            <% @flashcard = flashcards[0] %>
           
            <h1 id="card" side="front" margin-bottom: 0px;><%=@flashcard.front%></h1>
            <button onclick="flip('card')">flip</button>
            <button onclick="previous('card')">back</button>
            <button onclick="next('card')">next</button>
            <span id="backOfCard" style="display:none;"><%=@flashcard.back%></span> 
    </div>
</div>

<h1 id="example"></h1>



<div>
    <table>
        <thead>
            <tr>
                <th> front </th>
                <th> reverse </th>
            </tr>
        </thead>
        <tbody>
         <% @topic.flashcards.each_with_index do |card, index| %>
                <tr>
                    <td class=<%=index%>><%= card.front %></td>
                    <td class=<%=index%>><%= card.back %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

</div>