
    <style>

    .deck-box {
        background-color: <%=rand_color%>;
    }

    </style>


    <div class="deck-box">
            <% if @message%>
            <p><%=@message%></p>
            <% end %>
                    <a href="/decks/alt">
                        <h1 class="deck-title"><b>Decks</b></h1>
                    </a>

            <div>
                    <ul class="horz-options">
                        <li><a onclick="call('createDictionary')">create</a> |</li>
                        <li><a onclick="call('search-box')">search</a></li> |
                        <li><a href="/decks">boxview</a></li> |
                        <li><a href="/flashcards">flashcards</a></li>
                    </ul> 
            </div>
                <%= erb :"dictionaries/create_dictionary" %>
                <%= erb :"dictionaries/search_form_full" %>


                <% if @dictionaries %>
                    <hr>
                     <div style="background: <%=rand_color%>; width: 75%; margin: auto; border: <%rand_color%> solid 3px; margin-bottom: 5px;">
                        <%= erb :"dictionaries/topic_box_display" %>    
                    </div>  
                <% end %>   

                  <% if @results && @results.size > 1 %>
                    <%@results.sort_by!{|r| r.term }%>
                    <hr>
                    <%= erb :"dictionaries/result_index"%>
                <% end %>
    </div>


  <%# this now links the topic tag to the gopic tag drawer... %>

    <% if @results%>
        <%= erb :"dictionaries/entry_display"%>
    <% end %>