<style>
    
.deck-title {
        font-size: 300%;
        color: ivory;
        text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }
    
.title-options {
         text-align: center; 
         color: darkblue;
         font-size: 110%;
    }
    
.title-options a {
        color: darkblue;
        font-weight: bold;
    }

.deck-box {
     margin: auto; 
     padding: 25px;
     border: 2px solid black; 
     border-radius: 10% / 50%;
     background-color: <%=rand_color%>;
}

.deck-box hr {
    margin: auto;
    margin-bottom: 15px;
    color: silver; 
    height: 2px; 
    width: 85%; 
    font-weight: bold;
}

.deck-box .addEntry {
    margin-left: 60px; 
    margin-bottom: 25px;
}

.deck-box .search-box {  
    margin:auto;
    text-align: center;
}

.deck-box .tag-box {
    margin: auto;
    text-align: center;
    color: black;
    font-size: 130%;
    text-shadow:
    -.5px -.5px 0 #999,
    .5px -.5px 0 #999,
    -.5px .5px 0 #999,
    .5px .5px 0 #999;
}

.deck-box li {
    display: inline;
}


.tag-box {
    color: ivory;
}

.tag-box .divider {
    text-shadow: none;
    font-size: 75%; 
}

.entry-info {

    background-color: <%=rand_color%>;
    padding: 20px;
    padding-left: 30px;
    margin-bottom: 3px;
    border: 2px solid silver;
    margin-left: 20px;
    margin-right: 50px;
}


</style>



<div class="deck-box">
        <a href="/dictionary/<%=@dictionary.id%>">
            <h1 class="deck-title"><b><%=@dictionary.title%></b></h1>
        </a>

          <p><%=@message%></p>
<div>
        <ul class="title-options">
            <li><a onclick="call('addEntry')">add</a> |</li>
            <li><a href="/dictionary/edit/<%=@dictionary.id%>">edit</a> |</li>
            <li><a onclick="call('search-box')">search</a></li>
        </ul> 
</div>
      <%= erb :"dictionaries/add_entry_form" %>
      <%= erb :"dictionaries/search_form" %>

        <hr>

    <% if @tags %>
            <%= erb :"dictionaries/tag_box_display" %>    
            <% end %>   
    </div>



    <% if @tags%>
    



    <% end %>

  <%# this now links the topic tag to the gopic tag drawer... %>

    <% if @result%>
        <%= erb :"dictionaries/entry_display"%>
    <% end %>