

<style>

.deck-box {
    background-color: <%=rand_color%>;
}

</style>



          <p><%=@message%></p>

<div class="deck-box">
        <a href="/dictionary/<%=@dictionary.id%>">
            <h1 class="deck-title"><b><%=@dictionary.title%></b></h1>
        </a>

<div>
        <ul class="horz-options">
            <li><a onclick="call('addEntry')">add</a> |</li>
            <li><a href="/dictionary/edit/<%=@dictionary.id%>">edit</a> |</li>
            <li><a onclick="call('search-box')">search</a></li>
        </ul> 
</div>
     <div id='addEntry' class='addEntry' style="display:none;">
         <%= erb :"dictionaries/add_entry_form" %>
    </div>
      <%= erb :"dictionaries/search_form" %>


    <% if @tags %>
        <hr>
            <div style="background: <%=rand_color%>; width: 75%; margin: auto; border: <%rand_color%> solid 3px; margin-bottom: 5px;">
                <%= erb :"dictionaries/tag_box_display" %>  
            </div>  
    <% end %>   

     <% if @results && @results.size > 1 %>
        <%@results.sort_by!{|r| r.term }%>
        <hr>
        <div style="background: <%=rand_color%>; width: 75%; margin: auto; border: <%rand_color%> solid 3px;">
            <%= erb :"dictionaries/result_index"%>
        </div>
     <% end %>
</div>




    <% if @results%>
        <%= erb :"dictionaries/entry_display"%>
    <% end %>