
<style>

.deck-box {
    background-color: <%=rand_color%>;
}

</style>


<div class="deck-box" style="height: 1000px;">
        <a href="/decks/alt">
            <h1 class="deck-title"><b>Decks</b></h1>
        </a>

<div>
        <ul class="horz-options">
            <li><a onclick="call('createDictionary')">create</a> |</li>
            <li><a onclick="call('search-box')">search</a></li> |
            <li><a href="/decks/alt">listview</a></li>
        </ul> 
</div>
      <%= erb :"dictionaries/create_dictionary" %>
      <%= erb :"dictionaries/search_form_full" %>
  


<div style="text-align: center;">
    <ul>
        <% @dictionaries = @dictionaries.sort_by{|dictionary| dictionary.entries[0] ? dictionary.entries[-1].created_at : dictionary.created_at}.reverse.each do |dictionary| %>
           
           <div class="card col-sm-3" style="margin-bottom: 25px; border: 2px solid white; border-radius: 10% / 50%; display: inline-block; line-height: 1; height: 100px; width: 200px; text-align: center; margin-left: 10px; float: left; background-color: <%=rand_color%>">
                <div class="card-body">
                    <span style="font-size: 120%; color: black; margin-bottom: 2px;"><b><a href="/dictionary/<%=dictionary.id%>"><%=dictionary.title%></b></a></span>
                    <br>
                    <br>
                    <span class= "on-click" onclick="call('add-<%=dictionary.title%>-entry')"><a href="#">add</a></span><span style="color:gold;"> | </span>
                    <span><a href="/dictionary/edit/<%=dictionary.id%>">edit</a></span><span style="color:gold;"> | </span>
                    <span><a href="/topic/<%=dictionary.id%>">cards</a></span> 
                </div>
            </div>

            <div id='add-<%=dictionary.title%>-entry' style="display:none">
                    <form action="/dictionary/<%=dictionary.id%>/entry/create" method= "POST" style="margin-top: 5px;">
                        <input type="text" name="term" placeholder="term">
                        <input type="text" name="entry_info" placeholder="entry info">
                        <input type="text" name="more_info" placeholder="more_info">
                        <input type="text" name="topic_tag" placeholder="topic tag">
                        <input type="file" name="photo" placeholder="photo">
                        <input type="submit" value= "submit">
                    </form>
            </div>
        <% end %>
    </ul>
</div>
<br>
</div>




