                              
    
<div>

<h1 style="background-color: black; color: white; border: 3px solid white; width: 250px; margin: auto; ">Decks</h1>
        <h3 class="on-click" style="margin:auto; margin-top: 4px; width:100px; text-align: center;" onclick="call('createDictionary')"><a href="#">create</a></h3>
    <div id="createDictionary" style="display:none; margin:auto; width:15%;" >
        <form method= "POST" action="/dictionary/create" style="margin-top: 5px;">
            <input type="text" name= "title">
            <input type="submit" value= "submit" style="float:right;">
        </form>
    </div>
</div>
<div style="text-align: center;">
    <ul>
        <% @dictionaries = @dictionaries.sort_by{|dictionary| dictionary.entries[0] ? dictionary.entries[-1].created_at : dictionary.created_at}.reverse.each do |dictionary| %>
           
           <div class="card col-sm-3" style="margin-bottom: 25px; border: 2px solid white; display: inline-block; line-height: 1; height: 100px; width: 200px; text-align: center; margin-left: 10px; float: left; background-color: <%=rand_color%>">
                <div class="card-body">
                    <span style="font-size: 120%; color: black; margin-bottom: 2px;"><b><a href="/dictionary/<%=dictionary.id%>"><%=dictionary.title%></b></a></span>
                    <br>
                    <br>
                    <span class= "on-click" onclick="call('add-<%=dictionary.title%>-entry')"><a href="#">add</a></span><span style="color:gold;"> | </span>
                    <span><a href="/dictionary/edit/<%=dictionary.id%>">edit</a></span><span style="color:gold;"> | </span>
                    <span><a href="/topic/<%=dictionary.id%>">cards</a></span> 
                </div>
            </div>

            <div id='add-<%=dictionary.title%>-entry' style="display:none">
                    <form action="/dictionary/<%=dictionary.id%>/entry/create" method= "POST" style="margin-top: 5px;">
                        <input type="text" name="term" placeholder="term">
                        <input type="text" name="entry_info" placeholder="entry info">
                        <input type="text" name="more_info" placeholder="more_info">
                        <input type="text" name="topic_tag" placeholder="topic tag">
                        <input type="file" name="photo" placeholder="photo">
                        <input type="submit" value= "submit">
                    </form>
            </div>
        <% end %>
    </ul>
</div>
<br>




