 
   <div class="form-box">
        <form action="/dictionary/entry/update/<%=@dictionary.id%>/<%=@entry.id%>" method= "POST">
            <input type="hidden" id="hidden" name="_method" value="patch">
            <input type="submit" value= "submit">
            <br>
            <label class="form-label" for="term">term:</label>
            <input class="entry-form" type="text" name="term" value="<%=@entry.term %>">
            <br>
            <label class="form-label" for="entry_info">info:</label>
            <textarea class="entry-form" rows="3" cols="100" name="entry_info"><%=@entry.entry_info %></textarea>
            <br>
            <label class="form-label" for="more_info">info+:</label>
            <textarea class="entry-form" rows="3" cols="100" name="more_info"><%=@entry.more_info %></textarea>
            <br>
            <label class="form-label" for="topic_tag">tag:</label>
            <input class="entry-form" type="text" name="topic_tag" value="<%=@entry.topic_tag %>">
            <br>
            <label class="form-label" for="photo">photo:</label>
            <input class="entry-form" type="file" name="photo" value="<%=@entry.photo %>">
            <br>
        </form>
            <span style="width: 100%; margin-bottom: 100px;">
             <form action="/dictionary/<%=@dictionary.id%>/delete/<%=@entry.id%>" method="post" style="color: red; width: 10px; height: 5px; border-radius: 5;">
                    <input id="hidden" type="hidden" name="_method" value="delete">
                    <input type="submit" value="delete" onclick="clicked(event)">
                </form> 
             </span> 
    </div>