 <style>

 .term-box {
     padding: 10px; 
     text-align: center; 
     margin-bottom: 10px;
 }

 .result-box {
    padding: 10px; 
    margin-bottom: 5px;
 }

 .left-50 {
    margin-left: 50px;
 }

  .left-80 {
    margin-left: 80px;
 }

 .top-15 {
    margin-top: 15px;
 }

 .bottom-20 {
    margin-bottom: 20px;
 }

 .tag-button {
     margin-left: 5px; 
     background: silver; 
     font-size: 75%;
 }

 .entry-info {
    background-color: <%= rand_color %>;
 }
 
 
 </style>
 


<div class="top-15">
    <% @results.each do |result| %>
    <% @entry = result%>
        <div class="result-box" style="background-color: <%= rand_color %>; border: <%= rand_color %> solid 2px;"> 
           <span> 
                <h2 class="ms-3 bottom-20">
                    <span class="term-box" style="background-color: <%=rand_color%>; border: <%=rand_color%> solid 2px; ">
                        <a href="/dictionary/<%=result.dictionary_id%>/<%=result.id%>"><%=result.term%></a>
                    </span> 
                </h2>  
                <span class="ms-4 mt-1">                      
                    <a href="/dictionary/entry/edit/<%=result.dictionary_id%>/<%=result.id%>">
                        <span class="edit-button" style="background: <%= @edit_color = rand_color %>;">
                            edit
                        </span>
                    </a>          
                <span onclick="call('add-ex-<%=result.id%>')" class="add-button" style="background-color: <%=rand_color%>">
                    <b> add </b>
                </span>
                    <span class="add-button tag-button">
                        <a href="/search/tag/dictionary/<%=result.dictionary_id%>/<%=result.topic_tag%>">[<%=result.topic_tag%>]</a>
                    </span>
             </span>
                    <div id="add-ex-<%=result.id%>" style="display: none;">
                        <%= erb :"dictionaries/create_example"%>
                    </div>  
                <div class="left-50" >
                    <ul style="color: white;">
                            <li class="entry-info">
                                <%=result.entry_info%>
                            </li>
                            <% unless result.more_info.empty? %>
                                <li class="entry-info">
                                    <%=result.more_info%>
                                </li>
                            <% end %>
                        <% if result.examples[0] %>
                            <% result.examples.each_with_index do |example, index| %>
                            <% @example = example %>
                                    <li class="entry-info">
                                        <%=example.info%>
                                    <span onclick="call('edit-example-<%=result.term%>-<%=index%>')" class="edit-button" style="background: <%= @edit_color %>;">
                                        edit
                                    </span>
                                        <div id="edit-example-<%=result.term%>-<%=index%>" style="display: none;">
                                            <%= erb :"dictionaries/edit_example_form"%>
                                        </div>  
                                    </li>
                            <% end %>
                        <% end %>
                    </ul>
                </div> 
        </div>
    <% end %>
</div>