 <% @result.each do |result|%>
    <div style="margin-left: 20px;">
            <a href="/dictionary/<%=@dictionary.id%>/<%=result.id%>"><h2 style="font-weight: bold"><%=result.term%> </a>  
            <span class="on-click" style="color: silver; background-color: black;  font-size: 75%" onclick="call('<%=result.topic_tag%>-entries')">[<%=result.topic_tag%>]</span>
            <span class="on-click" onclick="call('add_example');" style="color: silver; background-color: black;  font-size: 75%">info+ </span>
                <div id="add_example" style="display: none;">
                    <form action="/example/<%=result.id%>/create" method="POST">
                        <input type="hidden" id="hidden">
                        <input type="text" name="info">
                        <input type="submit" value="info">
                    </form>
                </div>     
        <ul style="padding: 5px; background-color: <%=rand_color%>; border: 2px solid black;"> 
            <li class="entry-info"> <%=result.entry_info%></li>
            <% unless result.more_info.empty? %>
            <li class="entry-info"> <%=result.more_info%></li>
            <% end %>
        <% if result.examples[0] %>
                <%result.examples.each do |example|%>
                        <li class="entry-info"><%=example.info%>
                            <form action="/example/<%=result.id%>/<%=example.id%>/delete" method="post" style="display:inline;">
                                <input id="hidden" type="hidden" name="_method" value="delete">
                                <input type="submit" value="del" style="width: 25px; height: 15px; font-size: 50%;">
                            </form> 
                        </li>
                    <% end %>
                </ul>
        <% end %>
    </div>

        <% if result.photo[0] %>
                <div style="float:left;">
                    <img src="/<%= result.photo[0] %>" alt=" " width="300" height= "200" style="border: 2px solid black; border-radius:15px; margin-left: 145px; margin-bottom: 10px;">
                </div>
            <% end %>
<% end %>
