 
 
<div style="margin-left: 100px; margin-top: 50px; color: black;">
    <% @results.each do |result| %>
    <% @entry = result%>
        <div style="background-color: #C86464; padding: 10px; margin-bottom: 5px;"> 
           <span> 
            <h2 style="font-weight: bold; margin-left: 50px; margin-bottom: 20px;">
                <span style="background-color: <%=rand_color%>; padding: 10px; text-align: center; margin-bottom: 10px; border: <%=rand_color%> solid 2px; ">
                    <%=result.term%> 
                </span> 
            </h2>  
            <span style="margin-left: 80px; margin-top: 10px;">                      
                <a href="/dictionary/entry/edit/<%=result.dictionary_id%>/<%=result.id%>">
                    <span class="edit-button" style="background: <%= rand_color %>;">
                        edit
                    </span>
                </a>          
            <span onclick="call('add-example');" class="add-button" style="background-color: <%=rand_color%>">
                <b> add </b>
            </span>
                <span style="margin-left: 5px; background: silver; font-size: 75%;">

                    <a href="/search/tag/dictionary/<%=result.dictionary_id%>/<%=result.topic_tag%>">[<%=result.topic_tag%>]</a>
                </span>
                <div id="add-example" style="display: none;">
                    <form action="/example/<%=result.id%>" method="POST">
                        <input type="hidden" id="hidden">
                        <input type="text" name="info">
                        <input type="submit" value="info">
                    </form>
                </div>  
             </span>
                <div style="margin-left: 50px;">
                    <ul>
                            <li class="entry-info"><%=result.entry_info%></li>
                        <% unless result.more_info.empty? %>
                            <li class="entry-info"><%=result.more_info%></li>
                        <% end %>
                        <% if result.examples[0] %>
                            <% result.examples.each do |example| %>
                                    <li class="entry-info">
                                        <%=example.info%>
                                        <form action="/example/<%=result.id%>/<%=example.id%>" method="post" style="display:inline;">
                                            <input id="hidden" type="hidden" name="_method" value="delete">
                                            <input type="submit" value="del" style="width: 25px; height: 15px; font-size: 50%;">
                                        </form> 
                                    </li>
                            <% end %>
                        <% end %>
                    </ul>
                </div> 
        </div>
    <% end %>
</div>