

<% if @book%>

        <%= erb :"books/book_nav"%>

<% else %>

        <%= erb :"projects/project_nav"%>

<% end %>
<div style="background: <%=rand_color%>;">
<h1 style="color: ivory; padding-top: 10px; padding-bottom: 0px;">Edit <%=@project.title%> below:</h1>

        <form action="/projects/update/<%=@project.id%>" method="POST">
                <input type="hidden" id="hidden" name="_method" value="patch">
                <input type="submit" value="submit">
                <input type="text" class="form-control" name="title" value="<%= @project.title %>">
                 <input type="text" class="form-control" name="description" value="<%= @project.description %>">
        </form>
        <form action="/projects/delete/<%=@project.id%>" method="post" style="display:inline">
                <input id="hidden" type="hidden" name="_method" value="delete">
                <input type="submit" value="delete" onclick="clicked(event)" style="float: right;">
        </form> 
</div>
