


<div>
    <%@projects = @projects.sort_by{|project| project.notes.sort_by{|note| note.last_touched}[-1].last_touched}%>
    <% @projects.sort_by{|project| project.last_touched}.reverse.each do |project|%>
    <div>
        <h4 style="width: 325px; height: 60px; float: left; margin-right: 5px; border: solid black 2px;"><span style="margin-left: 5px;"><a href="/people/<%=project.account_id%>/project/<%=project.id%>"><%=project.title%></a></span> <span style="font-size: 50%">[<%=project.last_touched.strftime('%m/%d/%y') %>] <%=project.notes[-1].created_at.strftime('%m/%d')%> 
                <form action="/projects/<%=@person.id%>/<%=project.id%>" method="post" style="display:inline">
                    <input id="hidden" type="hidden" name="_method" value="delete">
                    <input type="submit" value="delete" style="text-align: right; margin-left: 20px;" onclick="clicked(event)">
                </form>
            </span> 
        </h4>
    </div>
    <% end %>
</div>

<div style="margin-bottom: 10px;"></div>


<%# <%= erb :"app/menu_links" %>

