
<div class="solid-color">

    
        <h1><%=@project.title%></h1>

        <nav class="navbar navbar-expand-lg bg-light">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">

                                <li class="nav-item">
                                        <a class="dropdown-item" aria-current="page" href="/projects/<%=@project.account_id %>">View All Projects</a>
                                </li>
                                <li class="nav-item on-click" onclick="call('note')">
                                    <a class="dropdown-item" href="#">Create Note</a>
                                </li>
                                <li onclick="call('create-weblink');" class="on-click">
                                    <a class="dropdown-item" href="#">Weblink 3000</a>
                                </li>
                                <li class="nav-item">
                                <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            Project Weblinks
                                        </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li onclick="call('create-weblink');">
                                                    <a class="dropdown-item" href="#">
                                                        <button class="btn btn-secondary">
                                                            Add Weblink
                                                        </button> 
                                                    </a>
                                                </li>
                                                    <% unless @project.weblinks[0] == nil %>
                                                    <% @project.weblinks.reverse.each do |link| %>
                                                                <%# making link an instance variable to send to partial %>
                                                                <% @link = link %>
                                                                <li><a href="<%=@link.url %>"><%=@link.title%></a>
                                                                    <%= erb :"weblinks/delete_project_weblink"%>  
                                                                </li>
                                                        <% end %>
                                                    <% end %>
                                            </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            Photo Actions
                                        </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li onclick="call('add-photo');"><a class="dropdown-item" href="#">add photo</a></li>
                                                <li><a class="dropdown-item" href="/photoroom/<%=@project.id%>">photoroom</a></li>
                                                <li><a class="dropdown-item" href="#">photo carousel</a></li>
                                            </ul>
                                    </div>
                                </li>
                                 <li class="nav-item">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            Books
                                        </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li onclick="call('create-new-book');">
                                                    <a class="dropdown-item" href="#">
                                                        <button class="btn btn-secondary">
                                                            Add Book
                                                        </button> 
                                                    </a>
                                                </li>
                                                    <% unless @project.books[0] == nil %>
                                                    <% @project.books.reverse.each do |book| %>
                                                                <%# making link an instance variable to send to partial %>
                                                                <li><a href="/book/<%=@project.id%>/<%=book.id%>"><%=book.title%></a>
                                                                   <%# could put delete book in here  %>
                                                                </li>
                                                        <% end %>
                                                    <% end %>
                                            </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
        </nav>

            <div id="note" style="display: none;">
                <%= erb :'notes/create_note' %>
            </div>

            <div id="add-photo" style="display:none">
                <%= erb :'photos/create_project_photo' %>
            </div>

            <div id="create-weblink" style="display:none">
                <%= erb :'weblinks/create_project_weblink' %>
            </div>

            <div id="create-new-book" style="display:none;">
                <%= erb :"books/create_project_book" %>
            </div> 

</div>

        <% if @project.photos[0] %>
            <img class="cover-image" src="/images/<%= @project.photos[rand(@project.photos.length-1)].photo %>" alt="Where is the photo?">
        <% end %>

        <% if @project.photos[1] %>
            <img class="cover-image" src="/images/<%= @project.photos[rand(@project.photos.length-1)].photo %>" alt="Where is the photo?">
        <% end %>

<br>


<ul margin-left: 20px;>
    <% @project.notes.sort_by{|note| note.last_touched}.reverse.each do |note|%>
    <li class="note-display" style="background: <%=@color_array[rand(63)]%>;  border: 2px solid <%=@color_array[rand(63)] %>">
        <b><%= note.last_touched.strftime('%m/%d/%y') %></b>  
            <span class="<%= note.has_addendums ? 'on-click' : '' %>" onclick="call('show-addendum-<%=note.id%>')"><span class="addendum-display"><%= note.comment %> | <span style="font-size: 75%"><%= note.created_at.strftime('%m/%d/%y')%> | <%=note.addendums.size%></span></span></span> 
        <div id="show-addendum-<%=note.id%>" style="display:none;">
              <span onclick="call('add-add-<%=note.id%>')" class="add-button">add</span>
             <span class="link-button" onclick="call('create-note-weblink-<%=note.id%>')"> link </span>
       
        <form action="/note/<%=@project.account_id%>/<%=@project.id%>/<%=note.id%>" method="post" style="display:inline">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <input type="submit" value="delete" onclick="clicked(event)">
        </form> 
       
                <div id="create-note-weblink-<%=note.id%>" style="display:none">
                    <form action="/project/<%=@project.id%>/note/<%=note.id%>/weblink/create" method="POST">
                        <input type="hidden" id="hidden">
                        <label for="title">title</label>
                        <input type="text" name="title">
                        <label for="url">url</label>
                        <input type="text" name="url">
                        <label for="description">description</label>
                        <input type="text" name="description">
                        <input type="submit" value="link">
                    </form>
                </div>

                <div id="add-add-<%=note.id%>" style="display: none;">
                    <form action="/project/<%=@project.id%>/note/<%=note.id%>/addendum/create" method="post">
                            <input id="hidden" type="hidden" name="_method" value="post">
                            <textarea rows="3" cols="50" name="addition"></textarea>
                            <input type="submit" value="submit">
                    </form>
                </div>
                <div>
                    <% unless note.weblinks[0] == nil%>
                                        <span>
                                            <ul>
                                            <% note.weblinks.each do |link| %>
                                                <li class="web-link-display"><span class="web-link-decoration"><a href="<%=link.url %>"><%=link.title%></a></span>
                                                        <form action="/people/<%=@project.id%>/weblinks/delete/<%=link.id%>" method="post" style="display:inline">
                                                            <input id="hidden" type="hidden" name="_method" value="delete">
                                                            <input type="submit" value="delete" class="del-button" onclick="clicked(event)">
                                                        </form>
                                                    </li>
                                                <% end %>
                                            </ul>    
                                        </span>
                                        
                                    <% end %>
                </div>
                        
                    <% unless note.addendums[0] == nil %>
                        <ul style="padding: 10px;">
                    <% note.addendums.sort_by{|add| add.last_touched}.reverse.each do |addendum|%>
                            <li class="addendum-display" style="background: <%=@color_array[rand(63)]%>; border: 2px solid <%=@color_array[rand(63)]%>">
                              <% unless addendum.weblinks[0] == nil%>
                                <span>
                                    <ul>
                                      <% addendum.weblinks.each do |link| %>
                                            <li class="web-link-display">
                                                <span class="web-link-decoration"><span class="web-link-decoration"><a href="<%=link.url %>"><%=link.title%></a> | 
                                                    <form action="/people/<%=@project.id%>/weblinks/delete/<%=link.id%>" method="post" style="display:inline">
                                                        <input id="hidden" type="hidden" name="_method" value="delete">
                                                        <input type="submit" value="delete" style="width: 25px; height: 15px; font-size: 30%; text-align: center; padding: 0px;" onclick="clicked(event)">
                                                    </form>
                                                </span>
                                            </li>
                                        <% end %>
                                    </ul>    
                                </span>
                                
                              <% end %>
                            
                              <span><span onclick="call('options-buttons-<%=addendum.id%>')"><%=addendum.last_touched.strftime('%m/%d/%y')%> <b style="font-size: 110%;">=></b>  </span></span><span onclick="call('display-add-notes-<%=addendum.id%>')" class="<%= addendum.notes[0] ? 'on-click' : '' %>"><%=addendum.addition %></span> | <span style="font-size: 75%"><%=addendum.created_at.strftime('%m/%d/%y') %></span>
                              <span id="options-buttons-<%=addendum.id%>" style="display: none; margins: 0px; float: left;">
                                     <div id="create-addendum-weblink-<%=addendum.id%>" style="display:none">
                                        <form action="/project/<%=@project.id%>/addendum/<%=addendum.id%>/weblink/create" method="POST">
                                            <input type="hidden" id="hidden">
                                            <label for="title">title</label>
                                            <input type="text" name="title">
                                            <label for="url">url</label>
                                            <input type="text" name="url">
                                            <label for="description">description</label>
                                            <input type="text" name="description">
                                            <input type="submit" value="link">
                                        </form>
                                    </div>
                                    <div id="create-add-add-note-<%=addendum.id%>" style="display: none;">
                                        <form action="/project/<%=@project.id%>/addendum/<%=addendum.id%>/note/create" method="POST">
                                            <input id="hidden" type="hidden" name="_method" value="post">
                                            <textarea rows="3" cols="50" name="comment"></textarea>
                                            <input type="submit" value="submit">
                                        </form>
                                    </div>
                                <span class="add-button" onclick="call('create-add-add-note-<%=addendum.id%>')">add</span>
                                <span class="link-button" onclick="call('create-addendum-weblink-<%=addendum.id%>')"> link </span>
                                    <form action="/project/<%=@project.id%>/note/<%=note.id%>/addendum/<%=addendum.id%>/delete" method="post">
                                        <input id="hidden" type="hidden" name="_method" value="delete">
                                        <input type="submit" value="del" onclick="clicked(event)">
                                    </form> 

                            </li>
                                    <div id="display-add-notes-<%=addendum.id%>" style="display:none;">


                                        <%# we can in theory add addendums to these notes... but should we... 
                                        also could do links here... %>
                                        <% unless addendum.notes[0] == nil %>
                                            <ul>
                                                <%addendum.notes.reverse.each do |note|%>
                                                    <li style="background: <%=@color_array[rand(63)]%>; margin-top: 5px; padding: 20px; border: 2px solid <%=@color_array[rand(63)] %>"><%= note.addendums[0] ? note.addendums[-1].updated_at.strftime('%m/%d/%y') : note.updated_at.strftime('%m/%d/%y') %> => <%=note.comment%>
                                                    <span>
                                                        <form action="/project/<%=@project.id%>/addendum/<%=addendum.id%>/note/<%=note.id%>/delete" method="post">
                                                            <input id="hidden" type="hidden" name="_method" value="delete">
                                                            <input type="submit" value="del" onclick="clicked(event)">
                                                        </form> 
                                                    </span>
                                                    
                                                    
                                                    </li>
                                                <% end %>
                                            </ul>
                                        <% end %>
                                    
                                    </div>
                            <% end %>
                        </ul>
                    <% end %>
                </div>
                        
            </li>
    <% end %>
</ul>


        <%= erb :"app/menu_links" %>


</div>