


<div>
    <% @projects.sort_by(&:updated_at).each do |project|%>
    <div style="width: 300px; height: 60px; float: left; margin-right: 5px; border: solid black 2px;">
        <h4>
            <span style="margin-left: 5px;">
                <a href="/project/<%=project.account_id%>/<%=project.id%>"><%=project.title%></a>
           </span> 
           <br>
           <span style="font-size: 75%">
                <%=project.updated_at %>
           </span>
         </h4>
    </div>
    <% end %>
</div>

<div style="margin-bottom: 10px;"></div>


<%# <%= erb :"app/menu_links" %>

