<%= erb :"books/book_nav"%>


<h3 style="margin-left: 20px;">Notes and quotes <a href="/edit_notes_and_quotes/<%=@book.project_id%>/<%=@book.id%>"><span style="font-size: 75%">edit</span></a></h3>

<% if @book.quotes[0]%>
    <ul>
        <% @book.quotes.each do |quote|%>
        <li><%=quote.text%> --<%=quote.author%></li>
        <% end %>
    <ul>
<% end %>

<% @notes = @book.notes.sort_by{|note| note.created_at}%>

<%= erb :"notes/notes_display" %>

<p>
    <%= erb :"app/menu_links" %>
</p>

