
<style>

.link-button {

    color: pink;

}

.red-date {
    font-size: 75%; 
    color: red;
}

.book-note-box {
    padding: 5px; 
    border: 2px solid black; 
    width: 700px; 
    margin-left: 100px;
}

.book-note-box li {
    padding-left: 10px
}


</style>



<ul>
    <% @book.notes.sort_by{|note| note.created_at}.reverse.each do |note|%>
    <div class="book-note-box" style="background-color: <%=rand_color%>;">
    <li><%= note.created_at.strftime('%m/%d/%y') %> <span class="red-date" ><%= note.created_at.strftime('%H:%M') %></span></li>
    <li> <%= note.comment %>
     <form action="/project/<%=@project.id%>/book/<%=@book.id%>/note/<%=note.id%>/delete" method="post" style="display:inline">
                        <input id="hidden" type="hidden" name="_method" value="delete">
                        <input type="submit" value="delete" style="float:right;" onclick="clicked(event)">
    </form> 
    </li>
    </div>
    <% end %>
</ul>   



    <%= erb :"app/menu_links" %>