

    <div class="bg-black pb-100">
    
        <a href="/project/<%=@person.id%>/<%=@project.id%>"><h1 style="margin-top: 0px; color: silver;">回</h1></a>
        <a href="/photoroom/carousel/<%=@person.id%>/<%=@project.id%>"><h1 style="margin-top: 0px; color: silver;">Carousel</h1></a>
    
    <div style="padding: 10px;">
        <%if @project.photos[0]%>
            <%@project.photos.each do |photo|%>
            <div style="border: float: left; display: inline;  margin-top: 5px; margin-bottom: 5px; margin-right: 0px; margin-left: 0px;">
        <img src="/images/<%=photo.photo%>" alt="where's the photo?" style="width:300px; height: 200px; margin: 0;">
            </div>
            <%end%>
        <%end%>
    </div>

</div>