


<style>

.link-button {

    color: pink;

}

.activity-box {
    padding: 5px; 
    border: 2px solid black; 
    width: 700px; 
    margin-left: 100px;
}

.activity-box li {
    padding-left: 10px
}

</style>






<ul>
    <% @activities.sort_by{|activity| activity.created_at}.reverse.each do |activity|%>
    <div class="activity-box"; style="background-color: <%=rand_color%>">
        <li><%= activity.created_at.strftime('%m/%d/%y') %> <span style="font-size: 75%; color: red;"><%= activity.created_at.strftime('%H:%M') %></span></li>
        <li><%= activity.title %> -- <%= activity.description %>
            <form action="/activity/<%=@default_id%>/<%=activity.id %>" method="post" style="display:inline">
                            <input id="hidden" type="hidden" name="_method" value="delete">
                            <input type="submit" value="delete" style="float:right;" onclick="clicked(event)">
            </form> 
        </li>
    </div>
    <% end %>
</ul>   



<p>
    <%= erb :"app/menu_links" %>
</p>