
<style>


.float-container {
  height: 500px;
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  border: 3px solid black;
  padding: 20px;
  background-color: darkkhaki;

}

.person-name {
    margin-bottom: 10px;
    border: 2px black solid; 
    border-radius: 5px; 
    background-color: white; 
    text-align: center; 
    font-size: 120%; 
    width: 200px; 
    float: left; 
    display: inline;
}

.description {
    color: darkgrey;
}


</style>
 
    <div style="margin-top: 0px;" >
        <div>
          
          <div class="options-box" class="on-click" style="float: left">
                
                <div class="info-drawer" style="display:none; margin-top: 10xpx; margin-left: 5px;" id='address'>
                    <ul>
                        <li style="margin-top: 5px;"> <%=@person.name%></li>
                        <li style="margin-top: 5px;"> <%=@person.street_address%></li>
                        <li style="margin-top: 5px;"><%=@person.city%>, <%=@person.state%> <%=@person.zipcode%></li>
                    </ul>
                      
            <div style="display: inline; border: 2px black solid; border-radius: 5px; background-color: white; text-align: center; padding-left: 5px; padding-right: 5px; margin-left: 110px; margin-top: 20px;">
                <a href="/people/<%=@person.id%>/edit_contact">edit</a> </a>
                    |<a href="/people" title=""> people</a> | <a href="/" title="">home</a>  
            </div>
                        
                </div>
            </div>
                <% @collected_photos = [] %>
                  
                <% @person.projects.each do |project| %>
                <% project.photos.each do |photo| %>
                <% @collected_photos << photo %>
                <% @collected_photos.shuffle%>
                <%end%>
            <%end%>
              
            <div style="margin:0px; float: left;">
                <img src="/<%=@person.photo%>" onclick="call('address')" alt="Where's the photo?" width="150" height= "100" style="border: 2px solid black; border-radius:15px; margin-left: 45px; margin-bottom: 10px; display: inline;">
            </div>
            <% unless @collected_photos[0]  == nil %>
            <% @selection = @collected_photos.slice(0,3)%>
                <%  @selection.each do |photo|%>
              <div style="margin:0px; float: left;">
                <img src="/images/<%=photo.photo%>" alt="Where's the photo?" width="150" height= "100" style="border: 2px solid black; border-radius:15px; margin-left: 45px; margin-bottom: 10px; display: inline;">
            </div>
                <% end %>
            <% end %>


        

        
           
    

    <div id="activities-panel" class="activities" style="float: left; margin: 0;">
 <h2><a href="/activities/<%=@person.id%>">ACTIVITIES</a>
 
            <span onclick="call('create-activity')" style="font-size: 75%; border: 2px solid black; border-radius: 10px; background-color: red;">new</span>
 
 </h2>

    
    
    
    
    
   
      <div class="info-drawer" style="display:none; margin-top: 10px; margin-left: 5px;" id='create-activity'>
            <br>
                <form method="POST" action="/people/<%=@person.id%>/activity/create" style="margin-top: 10px;">
                    <input type="text" name="title" placeholder="title">
                    <input type="text" name="description" placeholder="description">
                    <input type="date" name="date" value="<%=Time.now%>">
                    <span style="color:black;">annual? <input type="checkbox" name="annual" value="true"></span>
                    <input class="on-click" type="submit" onclick="call('create-project')">
                </form>
            </div>
        <ul>
            <% @person.activities.reverse.slice(0,3).each do |activity| %>
            <li><%=activity.created_at.strftime('%m/%d')%> -- <span style="color:black; font-size:120%;"><%= activity.title %></span> : <span style="color:lightgrey"><%= activity.description %></span></li>   
            
            <% end %>
        </ul>
    </div>

        <div id="projects-panel" class="projects" style="float: left; margin-top:10px;">
       <h2><a href="/people/<%=@person.id%>/projects">PROJECTS</a>
       
        <span onclick="call('create-project')" style="font-size: 75%; width: 50px; border: 2px solid black; border-radius: 10px; background-color: red;">create</span>
       
       </h2>

        <div class="option-box" class="on-click" style="float: left; display:inline;">
           
            
            <div class="info-drawer" style="display:none; margin-top: 10px; margin-left: 5px;" id='create-project'>
                <form method="POST" action="/project/<%= @person.id %>">
                   <input type="text" name="title" placeholder="title">
                   <input type="text" name="description" placeholder="description">
                    <input class="on-click" type="submit" onclick="call('create-project')">
                </form>
            </div>
        </div>
            <ul>
                <% @person.projects.sort_by{|project| project.last_touched}.reverse.slice(0,10).each do |project| %>
                    <li><%=project.last_touched.strftime('%m/%d')%> -- <span style="font-size:120%"><a href="/people/<%=@person.id%>/project/<%=project.id%>"> <%= project.title %> </a></span>: <span class="description"><%= project.description %> </span>
                    
               
                    
                    
                    </li>


                    


                <% end %>
            </ul>
        </div>  
        <div class="option-box" class="on-click">
            
          
        </div>
        
       

    
            <br>
            <br>

          
         </div>

     

     </div> 

            

    